.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 1.5625rem;
    grid-column-gap: 1.5625rem;
    align-items: center;
    max-width: 69.375rem;
    margin: auto;

    
    @include breakpoint-up(medium){
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        
    }
    @include breakpoint-up(large){
        grid-template-columns: repeat(3, 21.875rem);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
        "item1 item2 item4"
        "item1 item3 item4";
        
    }


    &__elem{
        max-width: 19.375rem;
        justify-self: center;
        padding-left: 1.875rem;
        padding-right: 1.875rem;
        padding-top: 1.875rem;
        background-color: white;
        border-radius: .3125rem;
        @include breakpoint-up(medium){
            max-width: 21.875rem;
        }

        h3{
            color: $veryDarkBlue;
        }
        p{
            color: $grayishBlue;
            padding-bottom: 35px;
        }
        .img{
            text-align: end;
            margin-bottom: 1.5625rem;

        }
        &__1{
            border-top: solid .3125rem $cyan;
            @include breakpoint-up(medium){
                justify-self: end;
            }
            @include breakpoint-up(large){
                grid-area: item1;
                align-self: center;
            }
        }
        &__2{
            border-top: solid .3125rem $red;
            @include breakpoint-up(medium){
                justify-self: start;
            }
            @include breakpoint-up(large){
                grid-area: item2;
                justify-self: center;
            }
        }
        &__3{
            border-top: solid .3125rem $orange;
            @include breakpoint-up(medium){
                justify-self: end;
            }
            @include breakpoint-up(large){
                grid-area: item3;
                justify-self: center;
            }
        }
        &__4{
            border-top: solid .3125rem $blue;
            @include breakpoint-up(medium){
                justify-self: start;
            }
            @include breakpoint-up(large){
                grid-area: item4;
                align-self: center;
            }
        }
    }
}